@charset "UTF-8";

* {
   font-family: Arial Black;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, rgb(48, 228, 48), rgb(4, 101, 4));
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(5, 48, 5);
}


h1{
color: rgb(69, 120, 69);
text-align: center;
text-shadow: 1px 1px 2px rgb(69, 120, 69);
}

h2{
    color: rgb(94, 226, 226);
}

p{
    text-align: justify;
}