@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html body{
    background-color: rgb(70, 69, 69);
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    color: white;
    font-size: 187px;
    font-weight: bolder;
    font-family: 'Passion One', sans-serif;
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: 'Sriracha', cursive;
    font-size: 65px;
    padding-top: 10vh;
    padding-bottom: 25vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem1{
    background-color: rgb(73, 73, 73);
    color: white;
    background-image: url(imagens/background001.jpg);
}

section.imagem2{
    background-color: rgb(73, 73, 73);
    color: white;
    background-image: url(imagens/background002.jpg);
}

section.imagem1 p{
    background-color: rgba(0, 0, 0, 0.39);
    width: 760px;
}

section.imagem2 p{
    background-color: rgba(0, 0, 0, 0.39);
    width: 780px;
}

footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

