@charset "UTF-8";

body{
    background-color: rgb(177, 240, 177);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 100, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(51, 77, 49);
}

.basico{
    color: #3c805e;
    font-weight: bold;
}

.intermediario{
    color: #80793c;
}
    
.avancado{
    color: #803c3c;
}

.destaque{
    background-color: rgba(208, 208, 115, 0.504);
}